<app-unavbar></app-unavbar>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <img src="" alt="food-alt" width="100%" />
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

<ng-container *ngIf="getLocalStorage() !== '[]'; else showcomidas">
  <small>Precio / Unidad</small>
</ng-container>


<div id="menu" >
    <ng-container *ngIf="getLocalStorage() == '[]'; else showcomidas">
      <h2 style="color: white;">El carrito está vacío.</h2>
    </ng-container>
    <ng-container #showcomidas *ngFor="let comida of comidas">
        <div class="card">
            <div class="img-container">
                <img class="card-img-top" [src]="comida.img" alt="Card image cap">
            </div>
            <div class="card-body">
              <h5 class="card-title">{{comida.name}} <span style="color:rgba(146, 145, 145, 0.925)" *ngIf="comida.mode !== ''">({{ comida.mode }})</span> <span *ngIf="comida.amount > 1">x{{ comida.amount }}</span> <strong style="color:green; display:block; text-align: center; font-size: 1.3em;">${{comida.price}}</strong></h5>
              <div style="margin-top:30px">
                  <a (click)="openModal(comida)" class="btn btn-primary">Ver</a>
                  <button (click)="outOfCart(comida.uid)" type="button" style="margin-top:10px;" class="btn btn-danger">Sacar del carrito</button>
              </div>
            </div>
        </div>
    </ng-container>
  </div>

<a *ngIf="getLocalStorage() !== '[]'" class="btn btn-success" (click)="goToCheckout()" role="button" id="to-checkout-btn">Ir a Caja <i class="fas fa-sign-in-alt"></i></a>
