<div id="up-bar">
  <h1>uMakeIt!</h1>
  <div *ngIf="show" id="up-bar-funcs">
      <form name="search" action="busqueda.html">
          <input type="text" placeholder="Buscar producto...">
      </form>
      <span class="username">someUser <i class="fas fa-angle-down"></i></span>
  </div>
  <i class="fa fa-bars" id="menu-btn"></i>
</div>

<div id="opc-user">
  <ul>
      <li><a href="cambio_clave.html">Cambio de clave</a></li>
      <li><a href="compras.html">Compras</a></li>
      <li><a href="carrito.html">Orden</a></li>
      <li><a href="login_register.html">Salir</a></li>
  </ul>
</div>