<app-unavbar [showCart]="false"></app-unavbar>

<div id="forms-container">
  <tabset class="nav nav-tabs" #staticTabs>
    <tab class="nav-item" heading="Entrar">
      <form name="login" (ngSubmit)="submitLogin()">
        <h2>Entrar</h2>
        <div class="form-group">
            <label for="user">Email</label>
            <input [(ngModel)]="user.email" name="email" class="form-control" id="user" placeholder="Tu nombre de usuario" required>
        </div>
        <div class="form-group">
            <label for="user-pass">Contraseña</label>
            <input [(ngModel)]="user.password" name="password" type="password" class="form-control" id="user-pass" placeholder="Tu contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </tab>
    <tab class="nav-item" heading="Registro">
      <form name="register" (ngSubmit)="submitRegister()">
        <h2>Registro</h2>
        <div class="form-group">
                <label for="inputUser">Email</label>
                <input  [(ngModel)]="user.email" name="email" class="form-control" id="inputUser" placeholder="Ingresa tu correo electrónico" #email="ngModel" required>
                
        </div>
        <div class="form-group">
            <label for="inputUser">Usuario</label>
            <input  [(ngModel)]="user.username" name="username" class="form-control" placeholder="Crea un nombre de usuario" required>
            <small id="emailHelp" class="form-text text-muted">Este es el nombre con el que entrarás al sistema.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input  [(ngModel)]="user.password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Crea una contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrarme</button>
      </form>
    </tab>
  </tabset>
</div>