<app-unavbar></app-unavbar>

<h2>Editar productos</h2>
<small>Los items en rojo son productos no disponibles</small>

<div id="content">
    <div id="table-container">
        <table>
            <thead> 
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
            </thead>
            <tbody>
                <tr [ngClass]="comida.avaiable == false ? 'not-avaiable':'.null-class'" (click)="setUpForm(comida)" *ngFor="let comida of comidas">
                    <td>{{ comida.name }}</td>
                    <td>{{ comida.desc }}</td>
                    <td>${{ comida.price }}</td>
                </tr>
            </tbody>
            
        </table>
    </div>

    <form (ngSubmit)="editar()">
        <div class="form-group">
            <label for="nombre">Nombre del producto</label>
            <input [(ngModel)]="comidaForm.name" class="form-control" type="text" name="name" id="name" required disabled>  
        </div>
        
        
        <div class="form-group">
            <label for="desc">Descripción</label>
            <textarea [(ngModel)]="comidaForm.desc" class="form-control" name="desc" id="desc" style="resize: none; width: 100%;" required disabled></textarea>
        </div>

        <div class="form-group">
            <label for="precio">Precio</label>
            <input [(ngModel)]="comidaForm.price" class="form-control" type="number" id="price" name="price" required disabled>
        </div>


        <div class="form-group">
            <label for="modificable">Modificable</label>
            <input type="checkbox" id="modificable" name="modificable" disabled>
        </div>

        <div id="button-group">
            <button type="submit" class="btn btn-primary" disabled>Editar</button>
        </div>

        <div id="food_image"></div>
    </form>
</div>