form{
    width: 500px;
    margin: 0 auto;
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(204, 200, 200, .8);
}

form label{
    font-weight: bold;
}

h2{
    color:white;
    text-align: center;
    margin-top:20px;
}

form input[type="checkbox"]{
    margin-left: 20px;
}

form input[type="file"]{
    width: 100%;
}

#button-group{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@media (max-width: 540px){
    form{
        width:90%;
    }
}

#content{
    width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
}

thead{
    display:block;
    background-color: #212529;
    color: white;
    height: 50px;
}

::-webkit-scrollbar {
    width: 12px;
    
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,0.3); 
    background: rgb(170, 171, 172);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: white;
}

thead th{
    display: inline-block;
    line-height: 50px;
}

thead th:first-child{
    width: 30%;
}

thead th:nth-child(2){
    width: 55%
}

thead th:nth-child(3){
    width: 15%;
}

tbody{
    overflow-y:scroll;
    height: 400px;
    display: block;
}

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    color: #212529;
    cursor: pointer;
}

#table-container{
    max-width: 600px;
}

#table-container, form{
    margin: 40px 20px 40phx 20px;
}

table tr{
    border: 1px solid #DEE2E6;
    background-color: white;
}

table tr:hover{
    background-color: rgba(204, 200, 200, .8);
}


table tr td:first-child{
    width: 30%;
}

table tr td:nth-child(3){
    width: 15%;
}

table td{
    height: 70px;
    border-right: 1px solid #DEE2E6;
}

form{
    position: relative;
    margin:0;
}

form #name{
    width: 70%;
}

#food_image{
    position: absolute; 
    top:40px;
    right: 30px;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 1049px){
    form{
        margin-top:30px;
    }
}

@media (max-width: 500px){
    form #nombre{
        width: 60%;
    }
}

@media (max-width: 465px){
    form #name{
        width: 55%;
    }
}

@media (max-width: 400px){
    #food_image{
        display: none;
    }
    form #name{
        width: 100%;
    }
}

@media (max-width:650px){
    #table-container{
        width: 90%;
    }
    tr{
        height: 50px;
    }
/*     tr td:nth-child(2){
        display:none;
    } */
}