<app-unavbar></app-unavbar>

<h2>Agregar producto</h2>

    <form>
        <div class="form-group">
            <label for="nombre">Nombre del producto</label>
            <input [(ngModel)]="c_nombre" class="form-control" type="text" name="name" id="nombre">
        </div>
        <div class="form-group">
            <label for="desc">Descripción</label>
            <textarea [(ngModel)]="c_desc" class="form-control" name="desc" id="desc" style="resize: none; width: 100%;"></textarea>
        </div>
        <div class="form-group">
            <label for="imagen">Imagen 
                <span class="aux-text" *ngIf="imgStorageService.downloadURL | async">(¡URL listo!)</span>
                <ng-container *ngIf="!imgStorageService.downloadURL && progressBarValue">
                    <div id="not-ready"></div>
                    Esperando URL...
                </ng-container>
            </label>
            <input #fileInput (change)="uploadImage($event)" style="display:block;" type="file" id="imagen" accept="image/*" required>            
            <div id="progress-bar-parent">
                <div id="progress-bar"></div>
            </div>
            <p class="aux-text">{{ progressBarValue }}</p>
        </div>
        <div class="form-group">
            <label for="precio">Precio</label>
            <input [(ngModel)]="c_price" class="form-control" type="number" name="price">
        </div>
        <div class="form-group">
            <label for="modificable">Modificable</label>
            <input [(ngModel)]="c_modificable" type="checkbox" id="modificable" name="modificable" checked>
        </div>

        <div id="button-group">
            <button (click)="submitComida()" id="agregar" class="btn btn-primary">Agregar</button>
            <button type="reset" class="btn btn-secondary">Limpiar</button>
        </div>
    </form>
