<app-unavbar showSearch="true"></app-unavbar>

<div id="forms-container">
  <form action="dashboard.html">
      <h2>Cambiar mi clave</h2>
      <div class="form-group">
        <label for="input-actual">Clave actual</label>
        <input [(ngModel)]="currentPassword" type="password" name="pass" class="form-control" id="clave-actual" placeholder="Escribe tu clave actual" required>
      </div>
      <div class="form-group">
        <label for="input-nueva">Nueva clave</label>
        <input [(ngModel)]="newPassword" type="password" name="newpass" class="form-control" id="clave-nueva" placeholder="Escribe la nueva clave">
      </div>
      <div class="form-group">
        <label for="input-repetir">Repetir nueva clave</label>
        <input [(ngModel)]="newPasswordRep" type="password" name="newpassrep" class="form-control" id="clave-repetir" placeholder="Vuelve a escribir la nueva clave">
      </div>
      <button (click)="changePasswordService.validation(currentPassword, newPassword, newPasswordRep)" class="btn btn-primary">Cambiar clave</button>
  </form>
</div>