h2{
    color:white;
    text-align: center;
    margin-top:20px;
}

small{
    font-style: italic;
    display: block;
    text-align: center;
    color: white;
}

thead{
    display:block;
    background-color: #212529;
    color: white;
    height: 50px;
}

::-webkit-scrollbar {
    width: 12px;
    
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,0.3); 
    background: rgb(170, 171, 172);
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: white;
}

thead th{
    display: inline-block;
    line-height: 50px;
}

thead th:first-child{
    width: 20%;
}

thead th:nth-child(2){
    width: 60%
}

thead th:nth-child(3){
    width: 20%
}

tbody{
    overflow-y:scroll;
    height: 400px;
    display: block;
}

table{
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    color: #212529;
    cursor: pointer;
    margin: 0 auto;
}

table tr{
    border: 1px solid #DEE2E6;
    background-color: white;
}

table tr:hover{
    background-color: rgba(204, 200, 200, .8);
}

.not-avaiable{
    color: red;
}

.selected-and-not-av{
    background-color: rgb(231, 107, 107) !important;
    color: white !important;
}

.selected-and-av{
    background-color: rgb(107, 107, 231) !important;
    color: white !important;
}


table tr td:first-child{
    width: 20%;
}

table tr td:nth-child(2){
    width: 60%;
}

table tr td:nth-child(3){
    width: 20%;
}

table td{
    height: 70px;
    border-right: 1px solid #DEE2E6;
}

button{
        display:block;
        margin: 30px auto;
}

@media (max-width:650px){
    tr{
        height: 50px;
    }
    tr td:nth-child(2), thead th:nth-child(2){
        display:none;
    }
    thead th:first-child, thead th:last-child{
        width:50%;
    }
}