<app-unavbar></app-unavbar>

<h2>Habilitar o deshabilitar productos</h2>
<small>Los items en rojo son productos no disponibles</small>

    <div id="table-container">
            <table>
                <thead>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                </thead>
                <tbody>
                    <tr (click)="getInfo(comida)" [ngClass]="comida.avaiable == false ? 'not-avaiable':'avaiable'" *ngFor="let comida of comidas">
                        <td>{{ comida.name }}</td>
                        <td>{{ comida.desc }}</td>
                        <td>${{ comida.price }}</td>
                    </tr>
                </tbody>

            </table>
    </div>
    <button class="btn btn-primary" (click)="execute()">{{ buttonText }}</button>