<app-unavbar showSearch="true" showUser="false"></app-unavbar>
<div id="menu">
  <ng-container *ngFor="let comida of comidas">
      <div *ngIf="comida.avaiable" class="card">
          <img class="card-img-top" src="../../../assets/img/{{comida.img}}.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{comida.name}}</h5>
            <p class="card-text">{{comida.desc}}</p>
            <strong style="color:green; display:block; text-align: center; font-size: 1.3em;">${{comida.price}}</strong>
            <a (click)="openModal(comida)" class="btn btn-primary">Ver</a>
          </div>
      </div>
  </ng-container>
</div>